.job-details h1{
    margin-top: 100px;
}
.singleJob p{
    margin-bottom: 25px;
    font-size: 20px;
}
.singleJob{
    text-align: left;
}
.single-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-top: 200px;
}
.job-contact{
    padding: 20px;
    text-align: left;
    background:  linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}
.job-contact button{
    width: 100%;
    margin-top: 10px;
}